<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila2.mapper.CustomerMapper">

<!-- 고객 추가 -->
	<insert id="insertCustomer"
			parameterType="java.util.Map">
	
		INSERT INTO
		
			customer(
				store_id,
				first_name,
				last_name,
				email,
				address_id,
				active,
				create_date
				
			) VALUES (
				#{storeId},
				#{firstName},
				#{lastName},
				#{email},
				#{addressId},
				#{active},
				NOW()
				
			)
			
	</insert>
   

<!-- 고객 상세보기 -->
	<select id="selectCustomerOne"
			resultType="java.util.Map"
			parameterType="Integer">
			
		SELECT
			ID,
			name,
			address,
			`zip code` zipCode,
			phone,
			city,
			country,
			notes,
			SID
			
		FROM
			customer_list
			
		WHERE ID = #{ID}
		
	</select>


<!--  -->
	<select id="selectCustomerList"
			parameterType="map"
			resultType="com.gd.sakila2.vo.CustomerList">
	
		SELECT
			*
		FROM
			customer_list
		
		<where>
			<if test="searchWord != null">
				name LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		
		ORDER BY
			name
		
		LIMIT
			#{beginRow}, #{rowPerPage}
			
	</select>

<!--  -->
	<select id="selectCustomerTotal"
			parameterType="map"
			resultType="int">
	
		SELECT
			COUNT(*)
		FROM
			customer_list
			
		<where>
			<if test="searchWord != null">
				name LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		
	</select>

<!--  -->
	<select id="selectBlackCustomerList"
			resultType="map">
	
		SELECT
			c.customer_id ID,
			CONCAT(c.first_name,' ', c.last_name) name,
			COUNT(*)
		FROM
			customer c,
			rental r,
			inventory i,
			film f
			
		WHERE
			c.customer_id = r.customer_id
				AND r.inventory_id = i.inventory_id 
				AND i.film_id = f.film_id
				AND DATEDIFF(r.return_date, r.rental_date) > f.rental_duration
					
		GROUP BY NAME
		
		HAVING
			COUNT(*) > 20
		
	</select>

<!--  // 재범조 쿼리 //
	<select id="selectCustomerList"
			resultType="java.util.Map"
			parameterType="java.util.Map">
			
		SELECT
			customer_id customerId,
			CONCAT(first_name, ' ' , last_name) name,
			email,
			store_id storeId,
			if(customer_id IN(
			
				SELECT p.customer_id
				FROM payment p
				
				LEFT JOIN rental r
				ON p.rental_id=r.rental_id
				
				JOIN inventory i
				ON r.inventory_id=i.inventory_id
				
				JOIN film f
				ON i.film_id=f.film_id
				
				WHERE DATEDIFF(r.return_date, r.rental_date) > f.rental_duration
				GROUP BY p.customer_id
				
				HAVING COUNT(p.customer_id)>=20),
				'BLACK', '') blackList,

			if(customer_id IN(
			
				SELECT p.customer_id
				FROM payment AS p
				
				WHERE DATE(p.payment_date) BETWEEN DATE_SUB('2005-05-01', INTERVAL 1 MONTH) AND '2005-06-01'
				GROUP BY customer_id
				
				HAVING SUM(p.amount) > 10
				AND
				
				COUNT(customer_id) > 5),
				'VIP','') VIP
				
		FROM customer
		
		
		<where>
			<if test="searchWord != null">
				AND CONCAT(first_name, ' ' , last_name) LIKE ('%', ${searchWord}, '%')
			</if>
			
			<if test="storeId != null">
				store_id = ${storeId}
			</if>
		</where>
		
		LIMIT ${beginRow}, ${rowPerPage}
		
	</select>
	-->

	
</mapper>