<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila2.mapper.BoardMapper">
	
	<select id="selectBoardList"
			resultType="com.gd.sakila2.vo.Board">
	
		SELECT
			board_id boardId,
			board_title boardTitle,
			board_content boardContent,
			staff_id staffId,
			insert_date insertDate,
			last_update lastUpdate
		FROM board
	
	</select>
	
</mapper>