<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila2.mapper.CustomerMapper">
<!--  -->
	<select id="selectCustomerTotal"
			resultType = "int">
		
		SELECT
			COUNT(*)
		FROM
			customer_list
			
		<where>
			<if test="searchWord != null">
				AND CONCAT(first_name, ' ' , last_name) LIKE ('%', ${searchWord}, '%')
			</if>
			
			<if test="storeId != null">
				store_id = ${storeId}
			</if>
		</where>
		
	</select>
	
	<select id="selectCustomerList"
			resultType="java.util.Map"
			parameterType="java.util.Map">
			
		SELECT *
		
		FROM customer_list
		
	</select>

<!--  
	<select id="selectCustomerList"
			resultType="java.util.Map"
			parameterType="java.util.Map">
			
		SELECT
			customer_id customerId,
			CONCAT(first_name, ' ' , last_name) name,
			email,
			store_id storeId,
			if(customer_id IN(
			
				SELECT p.customer_id
				FROM payment p
				
				LEFT JOIN rental r
				ON p.rental_id=r.rental_id
				
				JOIN inventory i
				ON r.inventory_id=i.inventory_id
				
				JOIN film f
				ON i.film_id=f.film_id
				
				WHERE DATEDIFF(r.return_date, r.rental_date) > f.rental_duration
				GROUP BY p.customer_id
				
				HAVING COUNT(p.customer_id)>=20),
				'BLACK', '') blackList,

			if(customer_id IN(
			
				SELECT p.customer_id
				FROM payment AS p
				
				WHERE DATE(p.payment_date) BETWEEN DATE_SUB('2005-05-01', INTERVAL 1 MONTH) AND '2005-06-01'
				GROUP BY customer_id
				
				HAVING SUM(p.amount) > 10
				AND
				
				COUNT(customer_id) > 5),
				'VIP','') VIP
				
		FROM customer
		
		
		<where>
			<if test="searchWord != null">
				AND CONCAT(first_name, ' ' , last_name) LIKE ('%', ${searchWord}, '%')
			</if>
			
			<if test="storeId != null">
				store_id = ${storeId}
			</if>
		</where>
		
		LIMIT ${beginRow}, ${rowPerPage}
		
	</select>
	-->
<!--  -->
	<select id = "selectCustomerOne"
			resultType = "java.util.Map">
		SELECT
			cu.customer_id AS ID,
			CONCAT(cu.first_name, _utf8mb4' ', cu.last_name) AS name,
			a.address AS address,
			a.postal_code AS zipCode,
			a.phone AS phone,
			city.city AS city,
			country.country AS country,
			IF(cu.active, _utf8mb4'active',_utf8mb4'') AS notes,
			cu.store_id AS SID
		FROM
			customer AS cu
		JOIN
			address AS a
		ON
			cu.address_id = a.address_id
		JOIN
			city
		ON
			a.city_id = city.city_id
		JOIN
			country
		ON
			city.country_id = country.country_id 
		WHERE
			customer_id
	</select>
	
</mapper>